body {
    margin: 0;
    overflow: scroll;
}

.lines {
    stroke: black;
    stroke-width: 10;
}

.lines path {
    stroke: #25656d;
    stroke-linejoin: round;
    stroke-linecap: round;
}

select {

    width: 180px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    border-bottom-color: darkgray;
    -webkit-appearance: none;
    outline: none;
    font-family: Serif;
    font-size: large;
}


.custom-select {
    position: relative;
}

.fa-chevron-down {
    position: absolute;
    padding-top: 4px;
    top: 0;
    left: 200px;
    height: 100%;
    width: 17px;
    display: block;
    pointer-events: none;
}

button {
    background-color: #008CBA;
}

.dyn_tab tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dyn_tab thead {
    text-align: center;
    font-weight: bold;
}

.dyn_tab caption {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0px
}

input {
    color: black;
}